body{
	font-family: sans-serif;
}

#conteneur{
	
}

/*HEADER*/

h1{
    background-color:black;
    font-size:30px;
    text-align:center;
    color:white;
    margin:auto;
    margin-bottom:3px;
}

nav{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	margin-bottom:3px;
}

nav div{
	background-color:black;
	text-align:center;
	
}

nav div a{
	text-decoration:none;
	color:white;
	font-size:20px;

}
/* Responsive */

.row{
	width : 100%; 
}

.col{ 
	box-sizing: border-box;
	border:1px solid white;
   
}

@media only screen and (max-width: 480px)
{
	.mob-0 { display: none;}
	.mob-1 { width : 8.33%; }
	.mob-2 { width : 16.66%; }
	.mob-3 { width : 24.99%; }
	.mob-4 { width : 33.33%; }
	.mob-5 { width : 41.66%; }
	.mob-6 { width : 49.99%; }
	.mob-7 { width : 58.33%; }
	.mob-8 { width : 66.66%; }
	.mob-9 { width : 74.99%; }
	.mob-10 { width : 83.33%; }
	.mob-11 { width : 91.66%; }
	.mob-12 { width : 100%; }
}

@media only screen and (min-width: 481px) and (max-width: 800px)
{

	.tab-0 { display: none;}
	.tab-1 { width : 8.33%; }
	.tab-2 { width : 16.66%; }
	.tab-3 { width : 24.99%; }
	.tab-4 { width : 33.33%; }
	.tab-5 { width : 41.66%; }
	.tab-6 { width : 49.99%; }
	.tab-7 { width : 58.33%; }
	.tab-8 { width : 66.66%; }
	.tab-9 { width : 74.99%; }
	.tab-10 { width : 83.33%; }
	.tab-11 { width : 91.66%; }
	.tab-12 { width : 100%; }
}

@media only screen and (min-width: 801px)
{
	.dsk-0 { display: none;}
	.dsk-1 { width : 8.33%; }
	.dsk-2 { width : 16.66%; }
	.dsk-3 { width : 24.99%; }
	.dsk-4 { width : 33.33%; }
	.dsk-5 { width : 41.66%; }
	.dsk-6 { width : 49.99%; }
	.dsk-7 { width : 58.33%; }
	.dsk-8 { width : 66.66%; }
	.dsk-9 { width : 74.99%; }
	.dsk-10 { width : 83.33%; }
	.dsk-11 { width : 91.66%; }
	.dsk-12 { width : 100%; }
}