body {
	background-color: #f2f2f2;
	overflow-x: hidden; 
}

.no-padding > [class*='col-'] {
	padding: 0;
	margin: 0;
}

header {
	background-color: #234052;
	background-image: url("../images/computer1bis.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
}

.navbar {
	background-color: #2E2630;
}

.navbar ul {
	padding-top: 10px;
	padding-bottom: 10px;
}

.glyphicon {
	margin-right: 3px;
}


      
h1 {
	text-align: center;
	margin-top: 210px;
	color: #f2f2f2;
	font-family: Gobold, Arial, sans-serif;
	opacity: 0.8;
	text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
}

h1 span.title1 {
	font-size: 3.1vw;
}

h1 span.title2 {
	font-size: 7.2vw;
}

img { 
	width: 100%; 
}


.presentation
{
	text-align: center;
	margin-top: -25px;
	padding: 50px 50px 50px 50px;
	background-color: #2F2C3D;
	color: #f2f2f2;
	height: 400px;
}


    
.dark_footer {
	background-color: #272029;
	color: #9d9d9d;
	padding: 30px;
}

footer ul li {
	list-style: none;
}

p.copyright {
	text-align: center;
	color: #616161;
}





@media screen and (max-width: 430px)
{
	h1 {
		margin-top: 70px;
		background-color:red;
	}

  	header {
  		max-height: 200px;
  	}
  	
  	.navbar {
		font-size:23px;
		text-align:center;
	
	}
	
	
	
}
	

@media screen and (min-width: 430px) and (max-width: 800px)
{
	h1 {
		margin-top: 90px;
	}

  	header {
  		max-height: 400px;
  	}
  	
  	
}

@media screen and (min-width: 800px) and (max-width: 1400px)
{
	
  	header {
  		max-height: 600px;
  	}
  	
  	.form-group {
	padding: 10px 10px 10px 0;
}
}