<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 	
 	<servlet>
		<servlet-name>Welcome</servlet-name>
		<servlet-class>com.aitboullinews.servlets.Welcome</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Welcome</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Contact</servlet-name>
		<servlet-class>com.aitboullinews.servlets.Contact</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Contact</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	
</web-app>